setting-item[is-hidden],
setting-item[is-hidden] + setting-divider {
  display: none !important;
}

setting-item .q-input {
  height: 24px;
  width: 100px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  position: relative;
  background: var(--bg_bottom_light);
  border: 1px solid var(--border_dark);
}

setting-item .q-input .q-input__inner {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  color: var(--text_primary);
  font-family: inherit;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  width: 100%;
  border: 1px solid transparent;
  padding: 0px 8px;
}

setting-item .q-input input[type=number].q-input__inner::-webkit-outer-spin-button,
setting-item .q-input input[type=number].q-input__inner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
